<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gladiatus_35.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Gladiatus_35.Properties.Settings>
            <setting name="expeditionsChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dungeonsChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="expeditionOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dungeonsOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sleepModeChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="healthLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="arenaChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="circusTurmaChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="trainingChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="trainingOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pakujChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="arena35Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="circusTurma35Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="buyFood" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="buyRings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="itemsSell" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dungeonAdvenced" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="moveFood" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nickname" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="worldOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="position" serializeAs="String">
                <value>1750, 50</value>
            </setting>
            <setting name="hades" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bronieChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tarczeChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="napierśnikiChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hełmyChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rękawiceChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="butyChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pierścienieChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="amuletyChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="przyspieszaczeChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bonusyChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="błogosławieństwaChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="zwójChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bronieSellChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tarczeSellChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="napierśnikiSellChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hełmySellChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rękawiceSellChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="butySellChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pierścienieSellChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="amuletySellChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="przyspieszaceSellChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bonusySellChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="błogosławieństwaSellChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="zwójSellChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eventWar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="multiAccount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="extractItems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="extractBackpack" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="itemsBackpack" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="foodBackpack" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="foodPack" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="differencePrice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="buyAmulets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="buyBoosters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="boostersPack" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="headless" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="main_bot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="farm_arenas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gold_limit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gold_level" serializeAs="String">
                <value />
            </setting>
            <setting name="minimum_gold_pack" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="heal_me" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="send_components" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="purple_selling" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="orange_selling" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="red_selling" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="get_for_extract" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="red_extracting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="orange_extracing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="purple_extracting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="maximum_rubles_hades" serializeAs="String">
                <value>0</value>
            </setting>
        </Gladiatus_35.Properties.Settings>
    </userSettings>
</configuration>